# Checkpoints
.vscode
__pycache__

# Virtual Environments

## Supervised Classification
superv_classification 

## Supervised Regression
superv_regression

## Dealing with Text Data
text_env

## Dealing with Images
deal_with_images

## Web Scraping
web_scrapping

## Time Series
time_s