# Checkpoints
.vscode
__pycache__

# Virtual Environments

## Supervised Classification
superv_classification 

## Dealing with Text Data
text_env

## Web Scraping
web_scrapping

## Time Series
time_s